h2 {
  height: 30px;
}

h2 b {
  float: right;
  color: #ff6767;
  position: relative;
  top: -5px;
}

h2 span {
  cursor: pointer;
  user-select: none
}

img {
  width: 100%;
}

.stars {
  color: #FFC300;
  margin: 0 0 10px 0;
  display: inline-block
}

button {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 100%;
  width: 80px;
  height: 80px;
  font-size: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.7);
}
