h2 {
  height: 30px;
}

h2 b {
  float: right;
  color: #ff6767;
  position: relative;
  top: -5px;
}

h2 span {
  cursor: pointer;
  user-select: none
}

img {
  width: 100%;
}

.stars {
  color: #FFC300;
  margin: 0 0 10px 0;
  display: inline-block
}

button {
  background-color: white;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
}
