:host {
  position: absolute;
  background-color: rgba(0,0,0,0.2);
  width: 100vw;
  height: 100vh;
  z-index: 5;
  top: -4.5%;
  left: -5.5%;
  display: none;
}

:host(.visible) {
  display: block;
}

/deep/ video {
  height: 50vh;
  width: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
